.enemy {
    width: 142px;
    position: absolute;
}

.enemy .body {
    height: 100%;
}

.enemy0,
.enemy1 {
    height: 160px;
    top: -160px;
}

.enemy0 .body {
    background: url(/car0.png) no-repeat 50%;
}

.enemy1 .body {
    background: url(/car1.png) no-repeat 50%;
}

.enemy2 {
    height: 220px;
    top: -220px;
}

.enemy2 .body {
    background: url(/car2.png) no-repeat 50%;
}

.enemy.speed0 {
    -webkit-animation: speed 1s linear;
}

.enemy.speed1 {
    -webkit-animation: speed 2s linear;
}

.enemy.speed2 {
	-webkit-animation: speed 2.5s linear;
}
@-webkit-keyframes speed{
	100%{-webkit-transform: translateY(1000px);}
}

.enemy.right {
    left: 178px;
}

.crashed .enemy {
	-webkit-animation-play-state: paused;
}