.roadbed {
    background: url(/road.png) repeat-y;
    width: 480px;
    height: 1600px;
    position: absolute;
    left: 0;
    top: -800px;
}

.roadRun {
    -webkit-animation: roadRun 0.3s linear infinite;
}

.super-mode .roadRun {
	-webkit-animation: roadRun .1s linear infinite;
}
@-webkit-keyframes roadRun {
    100%{-webkit-transform: translateY(800px);}
}

.crashed .roadbed {
	-webkit-animation-play-state: paused;
}